  table{
            width: 75%;
            margin: auto;
            border-collapse:collapse;
            text-align: center;
        }
        th,td{
            border: 1px solid black;
            border-collapse:collapse;
            padding: 10px;
        }
        td{
            color:rgb(163, 18, 37);
        }
        .addUser{
            color: rgb(59, 19, 124);
            border: none;
        }
        .addUser:hover{
            color: rgb(35, 187, 68);
            cursor: pointer;
        }

        /* user Model */

         #userModal {
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba(24, 3, 3, 0.4);
            position: fixed;
            top: 0;

        }

        .userContent {
            width: 60%;
            background-color: #fefefe;
            margin: 5% auto 15% auto;
            /* 5% from the top, 15% from the bottom and centered */
        }

        img.avathar {
            width: 20%;
            border-radius: 50%;
            margin-top: 27px;
        }

        .avatarCont {
            text-align: center;
            position: relative;
        }

        .close {
            position: absolute;
            right: 25px;
            color: #000;
            font-size: 70px;
            font-weight: bold;
        }

        .close:hover {
            color: red;
            cursor: pointer;
        }

        .userData {
            padding: 16px;
            font-size: x-large;
        }

        input[type=text] {
            width: 100%;
            font-size: x-large;
        }

        button[type=submit] {
            width: 100%;
            background-color: green;
            font-size: xx-large;
            border: 3px solid black;
        }

        .cansel {
            font-size: x-large;
        }

        .cansel:hover {
            background-color: red;
        }